html {
  height: 100%;
  width: 100%;
  font-size: 14px;
} 
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
.card {
  all: initial;
}
html, body {
  
background-color: #230739;
}
.navbar-toggler-icon {
  color: white;
  background-image: url("./hamburger-menu-svgrepo-com\ \(1\).svg");
 }
h1 {
  all: initial;
  color: white;
}
body {
  background-color: transparent !important;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
nav.navigation-big {
  background-color: transparent !important;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: white;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
}

/*homepage*/
/*mobile homepage*/


.homepage {
  background: rgb(78, 0, 136);
  background: radial-gradient(circle, rgba(78, 0, 136, 1) 0%, rgb(38, 4, 64) 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 98%, 0 90%);
  
}
.homepage .wrapper {
  
  max-width: 65em;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100%;
  padding: 2em;
}
.homepage .right {
  width: 50%;
  max-height: 50%;
  
  display: flex;
  
  align-items: center;
}

.homepage ul li a {
  color: white;
}

.homepage .right img {
  object-fit: contain;
  width: 100%;

}

.homepage .text h1 {
  font-size: clamp(3rem, 5vw, 3.3rem);
  color: white;
}

.homepage .text {
  max-width: 20rem;
}

.homepage .onetap {
  background: -webkit-linear-gradient(#5B00CE, #b980ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Barlow", sans-serif;
}


.homepage .left {
  display: flex;
  
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 2em;
  
}
.homepage .actions {
  
  display: flex;
  gap: 1rem;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.actions .download {

}
.actions apple {
  
}
.actions .apple img {
  object-fit: contain;
  max-height: 2.5rem;
  
}

.homepage #l {
  display: block;
  position: relative;
  
}
.homepage #l .hidden {
  position: static;
  visibility: hidden;
}
.homepage #l span {
  position: absolute; 
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(#5B00CE, #b980ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Barlow", sans-serif;
  display: block;
  /* white-space: nowrap; */

}
@media (max-width: 768px) {
  .homepage .wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 1rem;
    padding-top: 3rem;
    }
  .homepage {
    min-height: 60vh;
  }
  .homepage .left {
    width: 100%;
  display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .homepage .text {
    max-width: 100%;

    
  }
  .homepage .right img {

    max-height: 40vh;
  }
  .homepage .right {
    width: 100%;
  }
}

/* Nav */
.navigation-big {
  position: fixed;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 3em 0;
  align-items: center;
}
.navigation-big .logoli a.logoGroup {
  display: flex;
  align-items: center;
  gap : 1em;
}
.logoGroup h1 {
  font-weight: 1000;
  font-size: 3em;
}
.navigation-big .logoli a{
  padding: 0;
}
.navigation-big .logo {
  padding: 0;
  object-fit: contain; height: 2.5rem;
}
.navigation-big ul {
  display: flex;
  max-width: 100%;
 column-gap: 10rem;
 row-gap: 1em;
  /*background-color: rgba(114,50,164,0.1);*/
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  padding: 0.5em 5em;
  border-radius: 2em;
  flex-wrap: wrap;
  align-items: center;
  /* border: 1px solid rgba(255,255,255,0.1);
  box-shadow: rgba(114,50,164,0.3) 0px 7px 29px 0px; */
  justify-content: space-between;
  justify-content: center;
  
}
.navigation-big ul .links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.navbar-toggler {
  border: none;
  box-shadow: none !important;
}
.nav-link {
  font-family: "Inter", sans-serif;
}
.navbar-brand {
  font-family: "Barlow", sans-serif;
  font-weight: 1000;
  letter-spacing: -0.5px;
  font-size: 2em;
}
.navigation-big ul .links a {
  color: rgba(255,255,255,0.8);
  display: block;
  transition: 0.3s;
  border-radius: 2em;
  padding: 0.5rem 1.5rem;
  font-size: 1.2em;
  font-weight: 500;
  border: 1px solid transparent;
}

.navigation-big ul li a:hover {
  color: #ffffff;
   background-color: rgba(114,50,164,0.2);
}
@media (max-width: 768px) {
  .navigation-big ul li a {
    font-size: 0.8em;
    padding: 0.3em 0.8em;
  }
  .navigation-big .logo {
    object-fit: contain; height: 2rem;
  }
  .navigation-big ul {
    padding: 0;
  }
  .navigation-big {
    box-sizing: border-box;
    padding: 0.5em 1em;
  }
}
.navbar {
  display: none;
}
@media (max-width: 768px) {
  /* .navigation-big ul li a {
    font-size: 0.8em;
    padding: 0.3em 0.8em;

    border-radius: 0.5em;
  } */
  .homepage {
    align-items: start;
    padding-top: 4em;
  }
  .navigation-big {
    display: none;
  }
  body .navbar {
    display: block;
  }
  /* .navigation-big {
    flex-direction: column;
    position: relative;
  }
  .navigation-big > .navbar-toggler {
    position: absolute;
    top: 1em;
    left: 0;
  }
  .navigation-big ul li a:hover {
    border: 1px solid transparent;
  }
  .navigation-big ul {
    padding: 0;
    border-radius: 0.5em;
  }
  .navigation-big ul .links {
    display: none;
  }
  .navigation-big {
    box-sizing: border-box;
    padding: 0.5em 1em;
    position: static;
    top: 0;
  } */
}


/*about*/
.about {
  width: 100%;
  display: flex;
  background-color: rgba(114,50,164,0.1);
  border-top: 1px solid rgba(255,255,255,0.5);
  border-bottom: 1px solid rgba(255,255,255,0.5);
  transform: skewY(-5deg);
  justify-content: center;
}
.about .inner {
  max-width: 50em;
  display: flex;
  padding: 5rem 1rem;
  flex-wrap: wrap;

  transform: skewY(5deg);
  justify-content: center;
  align-items: start;
  gap: 1rem;
  align-content: flex-start;
}
.about .bubbles {
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.about .bubbles li {
  background-color: rgb(114,50,164,0.2);
  border-radius: 2em;
  padding: 0.8em 2.5em;
  font-size: 1.1em;
  max-height: fit-content;
  border: 1px solid rgb(255,255,255,0.3);
  box-shadow: rgba(114,50,164,1) 0px 7px 29px 0px;
}
/* CSS */

.downloadcta {
  --glow-color: #9d4dfe;
  --glow-spread-color: #8a4bd8;
  --enhanced-glow-color: #dcc7f4;
  --btn-color: rgb(110, 46, 189,0.2);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 1em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  }

.downloadcta::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.downloadcta:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
        0 0 4em 2em var(--glow-spread-color),
        inset 0 0 .75em .25em var(--glow-color);
}

.downloadcta:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
        0 0 2.5em 2em var(--glow-spread-color),
        inset 0 0 .5em .25em var(--glow-color);
}

@media (max-width: 768px) {
  .downloadcta {
    padding: 0.5rem 1rem;
  }
}


/*steps*/ 
.stepViewarea {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  
padding: 4em 0em;
}
.steps {
  background-color: transparent;
min-height: 30em;
width: 100%;
padding: 2em 0em;
display: flex;
flex-wrap: wrap;
gap: 1em;
justify-content: center;
}
.step h1 {
  font-size: 1.5em;
}
.step {
  width: 20em;
  padding: 1em;
  background-color:rgba(57, 11, 93, 0.111);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  border: 1px solid rgba(101, 18, 164, 0.229);
  border-radius: 1em;
  box-shadow: rgba(114,50,164,0.3) 0px 7px 29px 0px; 
 
}
.step img {
  width: 100%;
  border-radius: 1em;
  object-fit: cover;

}
.header {
  width: fit-content;
border-radius: 5em;
text-align: center;
padding: 0em 1em;
background-color:rgba(90, 16, 147, 0.303);
}
.step .content {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

/*Marquee Comment*/

:root {
  --marquee-width: 100%;
  --marquee-height: 150px;
  /* --marquee-elements: 12; */
  /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width:  25em;
 
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}
.marqueeViewarea {
  display: flex;
  min-height: 50vh;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2em;
  padding: 2em 0em;
}
.marqueeViewarea h1, .stepViewarea h1 {
  text-align: center;
  padding: 0.8em;
  font-size: 2em;
}
.marquee {
  width: var(--marquee-width);
  /* height: var(--marquee-height); */
  overflow: hidden;
  position: relative;
}

.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 10rem;
  height: 100%;
  content: "";
  z-index: 1;
}
/* 
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #000000 0%, transparent 100%) !important;
}

.marquee:after {
  right: 0;
  background: linear-gradient(to left, #000000 0%, transparent 100%) !important;
} */

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}

.marquee-content:hover {
  animation-play-state: paused;
}
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
  }
}

.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  width: var(--marquee-element-width);
  /* text-align: center; */
  flex-shrink: 0;
  
  max-height: 100%;
  /* 5rem; */
}


@media (max-width: 600px) {
  html {
    font-size: 12px;
  }

  :root {
    --marquee-width:100%;
    --marquee-height: 150px;
    --marquee-elements-displayed: 3;
  }

  .marquee:before,
  .marquee:after {
    width: 5rem;
  }
}
.card {
  border: 1px solid #420e68;
  background-color: #1b042c;
  box-shadow: rgba(114,50,164,0.3) 0px 7px 29px 0px; 
  color: #fffefe;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  justify-content: start;
  padding: 0;
  height: 100%;
}
.cardimage {
  width: 40%;
  height: 100%;
}
.cardimage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.cardcontent {
  width: 60%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.cardcontent p {
  font-size: 0.9em;
}
.card .business {
  color: #6c5b7b;
  padding-bottom: 0.5em ;
  font-weight: 400;
  font-size: 0.8em;
  font-family: "Inter", sans-serif;
}
.cardcontent .description {
  width: 100%;
  display: flex;
  font-family: sans-serif;
  font-weight:bold;
  flex-direction: column;
  padding: 0.8em 1em;
}
.cardcontent .distance {
  display: flex;
  min-height: 2em;
  align-items: center;
  justify-content: start;
  font-weight: 700;
  padding: 1em;
  color: #6c5b7b;
  background-color: rgb(49, 10, 80);
}
.cardcontent .distance > * {
  
  font-size: 0.7em;
  color: #6c5b7b;
}
html {
  height: 100%;
  width: 100%;
}
.marquee-content > div {
  height: 100%;
  padding: 1em;
}
/*Marquee End*/

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
  flex-direction: column;
  gap: 3em;
}
.cta h1 {
  text-align: center;
  font-size: 2em;
}
body {
  overflow: hidden;
}
.contactForm form {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  gap: 2em;
  width: 100%;
  max-width: 30em;
}
.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
  padding: 2em;
  
  padding: 20em 2em;
  gap: 3em;
  text-align: center;
  justify-content: center;
}
.contactForm h1 {
  font-size: 3em;
}
.contactForm h2 {
  font-size: 1.2em;
}
.contactForm input, .contactForm textarea {
  color: black;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 1em;
  background-color: rgb(253, 238, 255);
  border: 1px solid rgba(128, 128, 128, 0.217);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.contactForm form > div {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  align-items: start;
  width: 100%;
  justify-content: center;
}
.contactForm label {
  font-size: 1.4em;
  text-align: center;
  font-weight: 300;
  font-family: "Inter", sans-serif;
}
.contactForm button {
  font-weight: 400;
  width: 100%;
  color: rgb(247, 240, 250) !important;
}
.faq {
padding: 2em;
  padding-top: 10em;
display: flex;
flex-direction: column;
gap: 3em;
align-items: center;
justify-content: center;
}
.faq .accordion {
  width: 100%;
  max-width: 40em;
}
.faq h1 {
  font-size: 3em;
}

.faq .accordion-body {
 color: rgb(66, 66, 66);
}